.pais{
    background-color: #cae9ff;
    color: #14213D;
    border-radius: 3px;
    text-align: left;
    padding: 10px 20px 15px 20px;
}

.pais h1 {
    text-transform: capitalize;
    text-align: center;
}