.card_country {
	background-color: #1d3557;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border-radius: 3px;
	position: relative;
	z-index: 1;
}

.card_country-p {
	font-weight: 300;
}

.card_country-link {
	text-decoration: none;
	color: #cad2c5;
}

.im {
	transition: all 0.3s ease;
	object-fit: cover;
	filter: blur(15px);
	z-index: -1;
}

.img_arriba {
	position: absolute;
	top: 20px;
	border-radius: 3px;
	left: 40px;
}

.img_arriba img {
	border-radius: 3px;
}