.activities_grid{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    grid-gap: 20px;
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

.no_activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* .no_activities p{
    margin-right: 40px;
} */

.no_activities-a {
    text-decoration: underline;
    color: black;
}