.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62%;
    margin: auto;
    margin-bottom: 40px;
}

.page p {
    margin: 10px;
    cursor: pointer;
    color: white;
}

.select{
    background-color: #98c1d9;
    border-radius: 10px;
    color: white;
    padding: 10px;
}