.nav_bar{
    background-color: #cae9ff;
    padding: 25px;
}

.links-nav_bar{
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
    color: #14213D;
}

.home{
    background-color: #14213D;
    padding: 10px;
    color: #98c1d9;
    border-radius: 3px;
}
.actividades{
    background-color: #14213D;
    padding: 10px;
    color: #98c1d9;
    border-radius: 3px;
}
.crear_actividad{
    background-color: #14213D;
    padding: 10px;
    color: #98c1d9;
    border-radius: 3px;
}